@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
            	<input type="hidden" id="id" value="${url.id}">
                <div class="col-sm-6">
					<#input id="urlName" name="链接名称"  value ="${url.url_name}" />
					<#input id="url" name="公司邮箱"  value ="${url.url}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="Bottom.updateUrl()"/>
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="Bottom.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bottom/bottom.js"></script>
@}
